@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    margin: 0 auto;
    text-align: center;
    height: 40px;
    background: #F8EBEB;
    width: 70vw;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;

}
nav a{
    width: 100vw;
    padding: 80px; 
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    font-weight: bold;
    font-family: 'Inter',sans-serif;
}
 nav a:hover{
    color: #F35EAB;
}

.borda{
    border: solid 1px #D8CBD1;
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 150px;
}
article{
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}




 label{
    font: 1.5em 'Inter',sans-serif;
    margin-bottom: 200px;
}
input{
    width: 7vw;
    height: 4vh;
    border-radius: 7px;
    font: 1.2em 'Inter',sans-serif;
    border: solid 1px black;
    display: block;
    margin-bottom: 40px;
    margin-left: 35px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

button {
    height: 5vh;
    width: 7vw;
    border-radius: 10px;
    border: solid 1px  #ccc;
    background: #a06782;
    font: 1.5em 'Roboto',sans-serif;
    margin-left: 25px;
}
button:hover{
    color: white;
    background-color: #70013A;
    font-weight: bold;
}
section{
    display: flex;
    justify-content: center;
    font: 1em 'Roboto',sans-serif;
}
section p{
    color: #6F7076;
    margin-right: 850px;
}
ul{
    display: flex;
    list-style: none;
}
ul a{
    text-decoration: none;
}
ul a:hover{
    color: #9298BF;
    font-size: 1.2em;
}
li{
    padding-right:40px;
}
@media(max-width:1366px){
        nav{
            width: 70%;
        }
        nav a{
            font-size: 1em;
        }
        article{
            width: 40vw;
        }
        img{
            width: 35vw;
        }
        label{
            font-size: 1.1em;
        }
        input{
            width: 7vw;
            height: 4vh; 
        }
        button{
            height: 4.5vh;
            width: 7vw;
            font-size: 1.3em;
        }
}
